#java
*/.mvn
*/mvnw
*/mvnw.cmd
## Eclipse
*/.metadata
*/bin
*/Servers

#ts
customer/node_modules
customer/customer-service/test-result
customer/customer-service/pages

#ui
order-ui/node_modules
order-ui/test-result
order/pages
customer/api/dist